.DS_Store
.idea/
*.iml
.dart_tool/
.flutter-plugins*
.packages
.pub/
build/
coverage/
*.log
.env*
*.jks
*.keystore
*.p12
*.mobileprovision
android/local.properties
android/key.properties

__pycache__/
*.pyc
